[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
pipfile = "*"
django-vote = "*"
dj-database-url = "*"
django-simple-captcha = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
