{% extends 'base.html'%}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<h2>About Snifula.com</h2>
<p>Snifula.com is a forum site which was made as an experimental project and the current code for the website can be found on <a href="https://github.com/yrmyjaska/snifula">Github</a>. Snifula was designed to be quite minimal but many features are sure to come as the project progresses.</p>
<h2>Rules</h2>
<p>Anything can be posted on this site by anybody as long as they have an account to post with; However, there are  some limitations on what constitutes as 'anything'. The limitations are quite simple and anybody with common sense will understand them. <b>Any violation of these rules will result in a permanent ban from the site.</b></p>
<ul>
	<li>No illegal content/activities</li>
	<li>No spamming</li>
	<li>No spreading of harmful websites</li>
</ul>
<p>To re-iterate: anything goes as long as the content does not include or imply activities/content described above.</p>
{% endblock%}
